In [1]:
people = {
    "first": ['Corey', 'Jane', 'John'],
    "last": ['Schafer', 'Doe', 'Doe'],
    "email": ['CoreyMSchafer@email.com', 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [5]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [7]:
filt = (df['last'] == 'Doe')
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [8]:
# alternative to above syntax
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [10]:
# .loc is helpful to filter columns as well as rows
df.loc[filt, 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [12]:
# 'and' and 'or': & and |
filt = (df['last'] == 'Doe') & (df['first'] == 'John')
df.loc[filt, 'email']

2    JohnDoe@email.com
Name: email, dtype: object

In [13]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')
df.loc[filt, 'email']

0    CoreyMSchafer@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [14]:
# opposite of a filter
df.loc[~filt, 'email']

1    JaneDoe@email.com
Name: email, dtype: object