In [29]:
people = {
    "first": ['Corey', 'Jane', 'John'],
    "last": ['Schafer', 'Doe', 'Doe'],
    "email": ['CoreyMSchafer@email.com', 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [30]:
import pandas as pd

In [31]:
df = pd.DataFrame(people)

In [32]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [33]:
df['email']

0    CoreyMSchafer@email.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [34]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [35]:
df.set_index('email', inplace=True)

In [36]:
df

                         first     last
email
CoreyMSchafer@email.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [37]:
df.index

Index(['CoreyMSchafer@email.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [38]:
df.loc['CoreyMSchafer@email.com']

first      Corey
last     Schafer
Name: CoreyMSchafer@email.com, dtype: object

In [39]:
df.loc['CoreyMSchafer@email.com', 'last']

'Schafer'

In [40]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@email.com, dtype: object

In [41]:
df.reset_index(inplace=True)
df

                     email  first     last
0  CoreyMSchafer@email.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe