In [1]:
people = {
    "first": ['Corey', 'Jane', 'John'],
    "last": ['Schafer', 'Doe', 'Doe'],
    "email": ['CoreyMSchafer@email.com', 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [5]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [6]:
df.columns = ['first name', 'last name', 'email']

In [7]:
df.columns

Index(['first name', 'last name', 'email'], dtype='object')

In [8]:
df.columns = [x.upper() for x in df.columns]
df.columns

Index(['FIRST NAME', 'LAST NAME', 'EMAIL'], dtype='object')

In [9]:
df.columns = df.columns.str.replace(' ', '_')
df.columns

Index(['FIRST_NAME', 'LAST_NAME', 'EMAIL'], dtype='object')

In [10]:
df.columns = [x.lower() for x in df.columns]
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [11]:
df.rename(columns={'first_name':'first', 'last_name': 'last'}, inplace=True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [12]:
# set a whole row of values
df.loc[2] = ['John', 'WrongName', 'WrongAddress@email.com']
df

   first       last                    email
0  Corey    Schafer  CoreyMSchafer@email.com
1   Jane        Doe        JaneDoe@email.com
2   John  WrongName   WrongAddress@email.com

In [13]:
# set specific values in a row
df.loc[2, ['last', 'email']] = ['StillWrong', 'JohnSmith@email.com']
df

   first        last                    email
0  Corey     Schafer  CoreyMSchafer@email.com
1   Jane         Doe        JaneDoe@email.com
2   John  StillWrong      JohnSmith@email.com

In [14]:
# set one value
df.loc[2, 'last'] = 'Jones'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@email.com
1   Jane      Doe        JaneDoe@email.com
2   John    Jones      JohnSmith@email.com

In [15]:
# alternate way to set one value
df.at[2, 'last'] = 'Smith'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@email.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith      JohnSmith@email.com

In [16]:
# don't try to change a value like this
filt = df['email'] == 'JohnSmith@email.com'
df[filt]['last'] = 'Jones'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@email.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith      JohnSmith@email.com

In [17]:
# this works, as does any use of .loc, .iloc, or .at
df.loc[filt, 'last'] = 'Farmer'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@email.com
1   Jane      Doe        JaneDoe@email.com
2   John   Farmer      JohnSmith@email.com

In [18]:
# change all email addresses lower cased
df['email'] = df['email'].str.lower()
df

   first     last                    email
0  Corey  Schafer  coreymschafer@email.com
1   Jane      Doe        janedoe@email.com
2   John   Farmer      johnsmith@email.com

In [19]:
# four methods to change multiple rows of values
# apply, map, applymap, replace

In [20]:
# method one: apply
# apply is used for calling a function on our values, either on a dataframe or a series

In [21]:
# apply on a series object
df['email'].apply(len)

0    23
1    17
2    19
Name: email, dtype: int64

In [22]:
# simple example of what could be complex function
def update_email(email):
    return email.upper()

In [23]:
df['email'] = df['email'].apply(update_email)
df

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@EMAIL.COM
1   Jane      Doe        JANEDOE@EMAIL.COM
2   John   Farmer      JOHNSMITH@EMAIL.COM

In [25]:
# lambda funtions can be used for apply(), as well
df['email'] = df['email'].apply(lambda x: x.lower())
df

   first     last                    email
0  Corey  Schafer  coreymschafer@email.com
1   Jane      Doe        janedoe@email.com
2   John   Farmer      johnsmith@email.com

In [27]:
# apply on a dataframe - runs a function on each row or column of that dataframe
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [28]:
df.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [30]:
# use functions that make sense to be used on a series object when using apply() on a df
df.apply(pd.Series.min)

first                      Corey
last                         Doe
email    coreymschafer@email.com
dtype: object

In [32]:
df.apply(lambda x: x.min())

first                      Corey
last                         Doe
email    coreymschafer@email.com
dtype: object