In [17]:
people = {
    "first": ['Corey', 'Jane', 'John'],
    "last": ['Schafer', 'Doe', 'Doe'],
    "email": ['CoreyMSchafer@email.com', 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [18]:
import pandas as pd

In [19]:
df = pd.DataFrame(people)

In [20]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [21]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [22]:
df.columns = ['first name', 'last name', 'email']

In [23]:
df.columns

Index(['first name', 'last name', 'email'], dtype='object')

In [24]:
df.columns = [x.upper() for x in df.columns]
df.columns

Index(['FIRST NAME', 'LAST NAME', 'EMAIL'], dtype='object')

In [25]:
df.columns = df.columns.str.replace(' ', '_')
df.columns

Index(['FIRST_NAME', 'LAST_NAME', 'EMAIL'], dtype='object')

In [26]:
df.columns = [x.lower() for x in df.columns]
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [27]:
df.rename(columns={'first_name':'first', 'last_name': 'last'}, inplace=True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com